In [8]:
import pandas as pd
import numpy as np

In [9]:
original_list = [-1,2,-3,4,-5,6,-7,8,-9,10,-11,12]
resulting_list = sorted(original_list, key=lambda x: -1/x)
print(resulting_list)

[2, 4, 6, 8, 10, 12, -11, -9, -7, -5, -3, -1]

In [10]:
df = pd.read_csv('JEOPARDY_DATA.csv')
df.head(20)
df.columns

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [11]:
df.columns = df.columns.str.replace(' ', '')

ohe_df = pd.get_dummies(df[['Round']])
ohe_df

,Round_Double Jeopardy!,Round_Final Jeopardy!,Round_Jeopardy!,Round_Tiebreaker
0,False,False,True,False
1,False,False,True,False
2,False,False,True,False
3,False,False,True,False
4,False,False,True,False
...,...,...,...,...
216925,True,False,False,False
216926,True,False,False,False
216927,True,False,False,False
216928,True,False,False,False
216929,False,True,False,False

In [14]:
df['Value'] = df['Value'].str.replace('$','')
df['Value'] = df['Value'].str.replace(',','')
df['Value'].astype(float)

0          200.0
1          200.0
2          200.0
3          200.0
4          200.0
           ...
216925    2000.0
216926    2000.0
216927    2000.0
216928    2000.0
216929       NaN
Name: Value, Length: 216930, dtype: float64

It's inconvenient that python doesnt have a first-class money type because it means that we have to convert the values to decimal any time we work with data that has money (and it has to be formatted correctly, like no '$' or ',').