In [7]:
import pandas as pd
df_clothes = pd.DataFrame(data = [['blue', 'S',20,'lemon shirt'], 
                                  ['blue', 'M', 50, 'jeans'], 
                                  ['beige', 'M', 7, 'bucket hat']])

df_clothes.columns = ['color', 'size', 'price', 'type']
df_clothes

   color size  price         type
0   blue    S     20  lemon shirt
1   blue    M     50        jeans
2  beige    M      7   bucket hat

In [15]:
# can convert categorical values to numerical
# size is ordinal, so it can be easily encoded

size_map = {'S': 1, 'M': 2, 'L': 3}
df_clothes['size'] = df_clothes['size'].map(size_map)
df_clothes

KeyError: 'size'

In [10]:
# very good for nominal values
# where we want a number so it processes faster
# but the number doesnt mean anything
from sklearn.preprocessing import LabelEncoder

class_labels = LabelEncoder()

df_clothes['types'] = class_labels.fit_transform(df_clothes['type'].values)
df_clothes

   color size  price         type  types
0   blue    S     20  lemon shirt      2
1   blue    M     50        jeans      1
2  beige    M      7   bucket hat      0

In [11]:
# one hot encoding - easiest way
# this doesnt work if you have data that is already numerical

df_clothes = pd.get_dummies(df_clothes[['color', 'size', 'price']])
df_clothes

   price  color_beige  color_blue  size_M  size_S
0     20        False        True   False    True
1     50        False        True    True   False
2      7         True       False    True   False