In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('titanic.csv')

In [8]:
df['Name'][df['Embarked'] == 'S'].head()

0                         Braund, Mr. Owen Harris
2                          Heikkinen, Miss. Laina
3    Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                        Allen, Mr. William Henry
6                         McCarthy, Mr. Timothy J
Name: Name, dtype: object