### Homework 3 Numpy Arrays and Pandas

1. Open `cars.csv` in jupyter and look at the data. (Double click `cars.csv` to open in a new tab).
2. We are converting each **column** into a numpy array.
3. Notice we have text, integer and float data. 
4. Take care not to overwrite your starter code.

In [20]:
#Starter code. Do NOT modify this cell
import pandas as pd
import numpy as np

# Read in dataset
df = pd.read_csv('cars.csv',delimiter=';')

# Convert each column to an np.array
car = df.Car.to_numpy()
mpg = df.MPG.to_numpy()
cylinders = df.Cylinders.to_numpy()
displacement = df.Displacement.to_numpy()
horsepower = df.Horsepower.to_numpy()
weight = df.Weight.to_numpy()
acceleration = df.Acceleration.to_numpy()
model = df.Model.to_numpy()
origin = df.Origin.to_numpy()

# create an array of headers
headers = np.array(['Car', 'MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight','Acceleration', 'Model', 'Origin'])

1. (2 pts) What are the numpy datatypes for the `car`,`mpg`, `horsepower` and `origin` arrays? (Hint: Not `type(car)` and use `print()` to print the numpy type.)

In [21]:
print(car.dtype)
print(mpg.dtype)
print(horsepower.dtype)
print(origin.dtype)

object
float64
float64
object

2. (1 pt) `numpy` is often imported as `np`. What is this action called? Why might you do this?

In [22]:
# the action is aliasing
# you might do this for simplicity and consistency whenever you call a numpy function

3. (2 pts) Each of the arrays (cars, mpg, cylinders, etc..) has how many dimensions? Show how to find this using code.

In [23]:
for i in df.columns:
    print(df[i].ndim)

1
1
1
1
1
1
1
1
1

4. (3 pts) What is the ___ of `horsepower`?
- sum
- min
- max
- median
- Optional: mode (May need to google help) (1 pt extra credit)

In [24]:
hp_sum = df[["Horsepower"]].sum()
hp_min = df[["Horsepower"]].min()
hp_max = df[["Horsepower"]].max()
hp_median = df[["Horsepower"]].median()
hp_mode = df[["Horsepower"]].mode()

hp_sum, hp_min, hp_max, hp_median, hp_mode

(Horsepower    42033.0
 dtype: float64,
 Horsepower    0.0
 dtype: float64,
 Horsepower    230.0
 dtype: float64,
 Horsepower    93.5
 dtype: float64,
    Horsepower
 0       150.0)

5. (2 pts) Select the last element in each subarray (do this with one operation.)

In [25]:
select_more = np.array([[1,2,3],
                      [4,5,6],
                      [7,8,9]])
# returns array([3, 6, 9])

In [26]:
last_columns = select_more[ :, -1 ]
last_columns

array([3, 6, 9])

6. (2 pts) Use the built-in `np.lookfor()` function to search for `'log'`.

Use the function you find and apply it to `mpg`.

In [56]:
# np.lookfor doesnt exist past numpy v2.0
np.log(mpg)

/var/folders/lj/hkhcwb916w11w9xnvrlgd9nw0000gn/T/ipykernel_6767/67066281.py:1: RuntimeWarning: divide by zero encountered in log
  np.log(mpg)

array([2.89037176, 2.7080502 , 2.89037176, 2.77258872, 2.83321334,
       2.7080502 , 2.63905733, 2.63905733, 2.63905733, 2.7080502 ,
             -inf,       -inf,       -inf,       -inf,       -inf,
       2.7080502 , 2.63905733,       -inf, 2.7080502 , 2.63905733,
       3.17805383, 3.09104245, 2.89037176, 3.04452244, 3.29583687,
       3.25809654, 3.21887582, 3.17805383, 3.21887582, 3.25809654,
       3.04452244, 2.30258509, 2.30258509, 2.39789527, 2.19722458,
       3.29583687, 3.33220451, 3.21887582, 3.21887582,       -inf,
       2.94443898, 2.77258872, 2.83321334, 2.94443898, 2.89037176,
       2.63905733, 2.63905733, 2.63905733, 2.63905733, 2.48490665,
       2.56494936, 2.56494936, 2.89037176, 3.09104245, 2.94443898,
       2.89037176, 3.13549422, 3.33220451, 3.40119738, 3.40119738,
       3.4339872 , 3.55534806, 3.29583687, 3.25809654, 3.17805383,
       3.21887582, 3.13549422, 2.99573227, 3.04452244, 2.56494936,
       2.63905733, 2.7080502 , 2.63905733, 2.83321334, 2.39789527,
       2.56494936, 2.48490665, 2.56494936, 2.94443898, 2.7080502 ,
       2.56494936, 2.56494936, 2.63905733, 2.89037176, 3.09104245,
       3.04452244, 3.25809654, 3.09104245, 3.33220451, 3.13549422,
       3.33220451, 3.29583687, 2.56494936, 2.63905733, 2.56494936,
       2.63905733, 2.7080502 , 2.48490665, 2.56494936, 2.56494936,
       2.63905733, 2.56494936, 2.48490665, 2.56494936, 2.89037176,
       2.77258872, 2.89037176, 2.89037176, 3.13549422, 3.25809654,
       2.39789527, 2.48490665, 2.56494936, 2.48490665, 2.89037176,
       2.99573227, 3.04452244, 3.09104245, 2.89037176, 2.94443898,
       3.04452244, 3.25809654, 2.7080502 , 2.77258872, 3.36729583,
       3.17805383, 2.99573227, 2.94443898, 2.7080502 , 3.17805383,
       2.99573227, 2.39789527, 2.99573227, 3.04452244, 2.94443898,
       2.7080502 , 3.4339872 , 3.25809654, 3.4657359 , 3.21887582,
       2.77258872, 2.77258872, 2.89037176, 2.77258872, 2.56494936,
       2.63905733, 2.63905733, 2.63905733, 3.36729583, 3.25809654,
       3.25809654, 3.4339872 , 3.4657359 , 3.33220451, 3.17805383,
       3.25809654, 3.17805383, 3.25809654, 3.4339872 , 2.94443898,
       2.89037176, 2.7080502 , 2.7080502 , 2.77258872, 2.7080502 ,
       2.77258872, 2.63905733, 2.83321334, 2.77258872, 2.7080502 ,
       2.89037176, 3.04452244, 2.99573227, 2.56494936, 3.36729583,
       3.13549422, 2.99573227, 3.13549422, 3.17805383, 3.21887582,
       3.17805383, 2.89037176, 3.36729583, 2.94443898, 3.13549422,
       3.13549422, 3.09104245, 3.21887582, 3.49650756, 3.33220451,
       3.21887582, 3.21887582, 3.25809654, 3.29583687, 2.86220088,
       2.77258872, 2.74084002, 2.67414865, 3.09104245, 3.09104245,
       3.17805383, 3.11351531, 3.36729583, 3.19867312, 3.36729583,
       3.49650756, 2.99573227, 2.89037176, 2.91777073, 2.86220088,
       3.38439026, 3.4657359 , 3.33220451, 3.27714473, 2.99573227,
       2.56494936, 2.94443898, 2.94443898, 2.80336038, 2.80336038,
       2.56494936, 2.56494936, 2.56494936, 3.44998755, 3.40119738,
       3.58351894, 3.23867845, 3.51154544, 2.86220088, 2.83321334,
       2.74084002, 2.7080502 , 2.86220088, 3.02042489, 2.94443898,
       2.91777073, 2.77258872, 2.74084002, 2.74084002, 2.77258872,
       3.36729583, 3.19867312, 3.25809654, 3.23867845, 3.41772668,
       3.51154544, 3.40119738, 3.41772668, 3.09104245, 3.06805294,
       3.06805294, 3.763523  , 3.58629287, 3.49042852, 3.67376582,
       3.58629287, 2.99071973, 2.96527307, 3.0056826 , 2.95491028,
       3.02042489, 3.0056826 , 3.22286785, 3.02042489, 2.96527307,
       3.02529108, 3.03495299, 2.92316158, 2.89591194, 2.95491028,
       2.87356464, 2.89591194, 2.86220088, 3.40119738, 3.314186  ,
       3.30321697, 3.43075618, 3.04927304, 3.14415228, 3.16968558,
       3.17387846, 3.01062089, 2.83321334, 3.07269331, 2.78501124,
       3.44998755, 3.38439026, 3.06805294, 2.98568194, 3.10458668,
       3.0056826 , 3.02529108, 2.83321334, 2.8678989 , 2.80336038,
       2.90142159, 2.82731362, 2.74084002, 2.95491028, 2.91777073,
       3.46260601, 3.52929738, 3.57515069, 3.31054301, 3.23474917,
       3.13549422, 3.30321697, 3.17387846, 3.53222564, 3.54095932,
       3.45946629, 3.61899333, 3.34638915, 3.36037539, 3.28840189,
       3.51154544, 3.72569343, 3.64021428, 3.46885603, 3.61630876,
       3.33220451, 3.27336401, 3.19047635, 2.94968834, 3.53514535,
       3.39450839, 3.4436181 , 3.61091791, 3.47196645, 3.84160054,
       3.32862669, 3.70868208, 3.79098468, 3.77045944, 3.59456877,
       3.40119738, 3.79773386, 3.71113006, 3.5204608 , 3.39450839,
       3.48737508, 3.16547505, 3.55534806, 3.16124671, 3.47815842,
       3.30321697, 3.28091122, 3.25037449, 3.15700042, 3.40119738,
       3.66612247, 3.66356165, 3.55820113, 3.47506723, 3.61091791,
       3.62966009, 3.52929738, 3.54673969, 3.53805656, 3.39785848,
       3.49650756, 3.54095932, 3.51749784, 3.47815842, 3.49347266,
       3.45315712, 3.33576958,       -inf, 3.42426265, 3.23474917,
       3.18635263, 3.10906096, 3.28091122, 3.0056826 , 2.8678989 ,
       3.33220451, 3.29583687, 3.52636052, 3.4339872 , 3.36729583,
       3.29583687, 3.17805383, 3.13549422, 3.58351894, 3.61091791,
       3.4339872 , 3.63758616, 3.58351894, 3.58351894, 3.58351894,
       3.52636052, 3.63758616, 3.4657359 , 3.63758616, 3.21887582,
       3.63758616, 3.25809654, 3.09104245, 3.4657359 , 3.58351894,
       3.29583687, 3.29583687, 3.78418963, 3.4657359 , 3.33220451,
       3.4339872 ])

7. (2 pts) Use boolean indexing to create an array of `True/False` using `origin` and the value 'US'.

In [49]:
us_bool = df['Origin'] == 'US'
origin_bool

0       True
1       True
2       True
3       True
4       True
       ...
401     True
402    False
403     True
404     True
405     True
Name: Origin, Length: 406, dtype: bool

8. (2 pts) Apply your index (from above) to the `car` array. You should now only see cars that are of US origin.

In [51]:
car[origin_bool]

array(['Chevrolet Chevelle Malibu', 'Buick Skylark 320',
       'Plymouth Satellite', 'AMC Rebel SST', 'Ford Torino',
       'Ford Galaxie 500', 'Chevrolet Impala', 'Plymouth Fury iii',
       'Pontiac Catalina', 'AMC Ambassador DPL',
       'Chevrolet Chevelle Concours (sw)', 'Ford Torino (sw)',
       'Plymouth Satellite (sw)', 'AMC Rebel SST (sw)',
       'Dodge Challenger SE', "Plymouth 'Cuda 340",
       'Ford Mustang Boss 302', 'Chevrolet Monte Carlo',
       'Buick Estate Wagon (sw)', 'Plymouth Duster', 'AMC Hornet',
       'Ford Maverick', 'AMC Gremlin', 'Ford F250', 'Chevy C20',
       'Dodge D200', 'Hi 1200D', 'Chevrolet Vega 2300', 'Ford Pinto',
       'AMC Gremlin', 'Plymouth Satellite Custom',
       'Chevrolet Chevelle Malibu', 'Ford Torino 500', 'AMC Matador',
       'Chevrolet Impala', 'Pontiac Catalina Brougham',
       'Ford Galaxie 500', 'Plymouth Fury iii', 'Dodge Monaco (sw)',
       'Ford Country Squire (sw)', 'Pontiac Safari (sw)',
       'AMC Hornet Sportabout (sw)', 'Chevrolet Vega (sw)',
       'Pontiac Firebird', 'Ford Mustang', 'Mercury Capri 2000',
       'Plymouth Cricket', 'Dodge Colt Hardtop', 'Chevrolet Vega',
       'Ford Pinto Runabout', 'Chevrolet Impala', 'Pontiac Catalina',
       'Plymouth Fury III', 'Ford Galaxie 500', 'AMC Ambassador SST',
       'Mercury Marquis', 'Buick LeSabre Custom',
       'Oldsmobile Delta 88 Royale', 'Chrysler Newport Royal',
       'AMC Matador (sw)', 'Chevrolet Chevelle Concours (sw)',
       'Ford Gran Torino (sw)', 'Plymouth Satellite Custom (sw)',
       'Ford Pinto (sw)', 'Dodge Colt (sw)', 'Buick Century 350',
       'AMC Matador', 'Chevrolet Malibu', 'Ford Gran Torino',
       'Dodge Coronet Custom', 'Mercury Marquis Brougham',
       'Chevrolet Caprice Classic', 'Ford LTD',
       'Plymouth Fury Gran Sedan', 'Chrysler New Yorker Brougham',
       'Buick Electra 225 Custom', 'AMC Ambassador Brougham',
       'Plymouth Valiant', 'Chevrolet Nova Custom', 'AMC Hornet',
       'Ford Maverick', 'Plymouth Duster', 'Chevrolet Impala',
       'Ford Country', 'Plymouth Custom Suburb',
       'Oldsmobile Vista Cruiser', 'AMC Gremlin', 'Chevrolet Vega',
       'Ford Pinto', 'Mercury Capri v6', 'Chevrolet Monte Carlo S',
       'Pontiac Grand Prix', 'Dodge Dart Custom', 'Oldsmobile Omega',
       'Plymouth Duster', 'Ford Maverick', 'AMC Hornet', 'Chevrolet Nova',
       'Ford Pinto', 'Chevrolet Vega',
       'Chevrolet Chevelle Malibu Classic', 'AMC Matador',
       'Plymouth Satellite Sebring', 'Ford Gran Torino',
       'Buick Century Luxus (sw)', 'Dodge Coronet Custom (sw)',
       'Ford Gran Torino (sw)', 'AMC Matador (sw)', 'Dodge Colt',
       'Plymouth Valiant Custom', 'Chevrolet Nova', 'Mercury Monarch',
       'Ford Maverick', 'Pontiac Catalina', 'Chevrolet Bel Air',
       'Plymouth Grand Fury', 'Ford LTD', 'Buick Century',
       'Chevrolete Chevelle Malibu', 'AMC Matador', 'Plymouth Fury',
       'Buick Skyhawk', 'Chevrolet Monza 2+2', 'Ford Mustang II',
       'Ford Pinto', 'AMC Gremlin', 'Pontiac Astro', 'Ford Pinto',
       'AMC Pacer', 'Capri ii', 'Dodge Colt',
       'Chevrolet Chevelle Malibu Classic', 'Dodge Coronet Brougham',
       'AMC Matador', 'Ford Gran Torino', 'Plymouth Valiant',
       'Chevrolet Nova', 'Ford Maverick', 'AMC Hornet',
       'Chevrolet Chevette', 'Chevrolet Woody', 'Dodge Aspen SE',
       'Ford Grenada ghia', 'Pontiac Ventura SJ', 'AMC Pacer d/l',
       'Ford Pinto', 'Plymouth Volare Premier v8', 'Cadillac Seville',
       'Chevrolet C10', 'Ford F108', 'Dodge D100',
       'Buick Opel Isuzu Deluxe', 'Plymouth Arrow GS',
       'Chevrolet Caprice Classic', 'Oldsmobile Cutlass Supreme',
       'Dodge Monaco Brougham', 'Mercury Cougar Brougham',
       'Chevrolet Concours', 'Buick Skylark', 'Plymouth Volare Custom',
       'Ford Grenada', 'Pontiac Grand Prix LJ',
       'Chevrolet Monte Carlo Landau', 'Chrysler Cordoba',
       'Ford Thunderbird', 'Pontiac Sunbird Coupe', 'Ford Mustang II 2+2',
       'Chevrolet Chevette', 'Dodge Colt m/m', 'Ford Fiesta',
       'Oldsmobile Cutlass Salon Brougham', 'Dodge Diplomat',
       'Mercury Monarch ghia', 'Pontiac Phoenix LJ', 'Chevrolet Malibu',
       'Ford Fairmont (auto)', 'Ford Fairmont (man)', 'Plymouth Volare',
       'AMC Concord', 'Buick Century Special', 'Mercury Zephyr',
       'Dodge Aspen', 'AMC Concord d/l', 'Chevrolet Monte Carlo Landau',
       'Buick Regal Sport Coupe (turbo)', 'Ford Futura',
       'Dodge Magnum XE', 'Chevrolet Chevette', 'Dodge Omni',
       'Plymouth Sapporo', 'Oldsmobile Starfire SX', 'Pontiac Lemans V6',
       'Mercury Zephyr 6', 'Ford Fairmont 4', 'AMC Concord DL 6',
       'Dodge Aspen 6', 'Chevrolet Caprice Classic', 'Ford LTD Landau',
       'Mercury Grand Marquis', 'Dodge St. Regis',
       'Buick Estate Wagon (sw)', 'Ford Country Squire (sw)',
       'Chevrolet Malibu Classic (sw)',
       'Chrysler Lebaron Town @ Country (sw)',
       'Dodge Colt Hatchback Custom', 'AMC Spirit DL',
       'Cadillac Eldorado', 'Oldsmobile Cutlass Salon Brougham',
       'Plymouth Horizon', 'Plymouth Horizon TC3',
       'Buick Skylark Limited', 'Chevrolet Citation',
       'Oldsmobile Omega Brougham', 'Pontiac Phoenix',
       'Chevrolet Chevette', 'Chevrolet Citation', 'Ford Fairmont',
       'AMC Concord', 'Dodge Aspen', 'Dodge Colt', 'Ford Mustang Cobra',
       'Plymouth Reliant', 'Buick Skylark', 'Dodge Aries Wagon (sw)',
       'Chevrolet Citation', 'Plymouth Reliant', 'Plymouth Champ',
       'Plymouth Horizon 4', 'Ford Escort 4W', 'Ford Escort 2H',
       'Buick Century', 'Oldsmobile Cutlass LS', 'Ford Grenada gl',
       'Chrysler Lebaron Salon', 'Chevrolet Cavalier',
       'Chevrolet Cavalier Wagon', 'Chevrolet Cavalier 2-door',
       'Pontiac J2000 SE Hatchback', 'Dodge Aries SE', 'Pontiac Phoenix',
       'Ford Fairmont Futura', 'AMC Concord DL', 'Plymouth Horizon Miser',
       'Mercury Lynx l', 'Buick Century Limited',
       'Oldsmobile Cutlass Ciera (diesel)', 'Chrysler Lebaron Medallion',
       'Ford Grenada l', 'Dodge Charger 2.2', 'Chevrolet Camaro',
       'Ford Mustang GL', 'Dodge Rampage', 'Ford Ranger', 'Chevy S-10'],
      dtype=object)

### Use numpy or pandas to answer the following questions.

9. (3 pts) What is the average horsepower for `Europe` cars? (Hint: create a boolean index of 'US' apply it to horsepower and perform the calculation.)

In [54]:
eu_bool = df['Origin'] == 'Europe'
horsepower[eu_bool].mean()
# 78.78082191780823

np.float64(78.78082191780823)

10. (3 pts) On average are Japanese cars more fuel-efficient than US cars? Show the code that you used to determine this.

In [28]:
country_df = df.set_index('Origin')

jp_df = country_df.loc[['Japan'], : ]
jp_mileage = jp_df[['MPG']].mean()

us_df = country_df.loc[['US'], : ]
us_mileage = us_df[['MPG']].mean()

us_mileage, jp_mileage # 19.688189 < 30.450633 -> japanese cars are more fuel-efficient

(MPG    19.688189
 dtype: float64,
 MPG    30.450633
 dtype: float64)

11. (3 pts) What is the correlation coefficient of `mpg` and `weight`? What is a correlation coefficient? What does the result indicate about the relationship between mpg and weight?

In [43]:
correlation = np.corrcoef(mpg, weight)
correlation

# the correlation coefficient is -0.78750994
# the corrcoef is the strength of the linear relationship between two variables
# the result indicates a strong inverse relationship between mpg and weight, heavier cars are less fuel efficient and vice versa

array([[ 1.        , -0.78750994],
       [-0.78750994,  1.        ]])

Extra credit: (3 pts) Create a new pandas dataframe that has the average mpg, weight, and horsepower per country of origin

In [31]:
origin_df = df.groupby('Origin')

avg_mpg = origin_df[['MPG']].mean()
avg_weight = origin_df[['Weight']].mean()
avg_hp = origin_df[['Horsepower']].mean()

merged = pd.merge(avg_mpg, avg_weight, on='Origin')  
final_df = pd.merge(merged, avg_hp, on='Origin')  

final_df

              MPG       Weight  Horsepower
Origin
Europe  26.745205  2431.493151   78.780822
Japan   30.450633  2221.227848   79.835443
US      19.688189  3372.700787  118.011811